.popup__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    width: 430px;
}

@media screen and (max-width: 320px) {
    .popup__container {
        flex-direction: column;
        width: 282px;
    }
}