.edit-form__input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    padding: 0 0 13px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 17px;
}

.edit-form__input:first-child {
    margin-bottom: 30px;
}

@media screen and (max-width: 320px) {
    .edit-form__input {
        max-width: 238px;
        margin-left: 22px;
    }
}