.header__logo {
    align-self: start;
    justify-self: flex-start;
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        padding-bottom: 41px;
        width: 103.74px;
        height: 24.4px;
    }
}