.profile__container {
    display: flex;
}

@media screen and (max-width: 950px) {
    .profile__container {
        margin: auto;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 320px) {
    .profile__container {
        width: 250px;
        flex-direction: column;
    }
}