.popup__close{
background-image: url(../../../images/Close\ Icon.svg);
height: 32px;
width: 32px;
opacity: 100%;
background-color: transparent;
border: none;
cursor: pointer;
position: absolute;
top: -30px;
right: -30px;

}

.popup__close:hover{
    opacity: 0.6;
}